# ONVIF Proxy cameras configuration (YAML)
#
# Top-level `proxy_host` sets the host/address the proxy servers should bind to.
# Each camera entry in `cameras` defines the camera target and proxy port.
#
# Example:
proxy_host: 0.0.0.0
cameras:
  - name: Front Yard Cam
    camera_host: 192.168.1.80
    camera_port: 2020
    proxy_port: 2021
# Multipliers can be set to a value from -1 to 1 to adjust how far the camera moves
# Negative values will invert the direction of movement
    x_multiplier: 0.2
    y_multiplier: -0.6
#Optional default timeout of how long to wait untill setting the camera's status from Moving back to Idle if move command does not follow up with Status checks
    move_timeout: 10

  - name: Back Yard Cam
    camera_host: 192.168.1.81
    camera_port: 2020
    proxy_port: 2022
    x_multiplier: 0.2
    y_multiplier: -0.6